<footer class="border-top py-4 mt-4">
  {% assign org = site.data.content.branding.organisation %}
  <div class="container small text-body-secondary">
    {% if org and org.name %}
      <div class="mt-2 ">
        <p class="text-center">Content copyright &copy; {{ "now" | date: "%Y" }}:
        {% if org.url %}
          <a href="{{ org.url }}" target="_blank" rel="noopener noreferrer">{{ org.name }}</a>
        {% else %}
          {{ org.name }}</p>
        {% endif %}
        
      </div>
    {% endif %}
      <div class="mt-2 align-items-center justify-content-center">
        <p class="text-center">Based on an original reference model from <a href="https://consulting.berthelemy.net" target="_blank">Mark Berthelemy Consulting</a> and available on <a href="https://github.com/berthelemy/skills-framework" target="_blank">GitHub</a></p>
        <p class="text-center"><a href="https://consulting.berthelemy.net" target="_blank" data-external-link-decorated="true"><img src="/assets/images/mb-logo-transp-300.png" style="height: 50px" alt="Mark Berthelemy Consulting logo" /></a></p>
      </div>
  </div>
</footer>
