<footer class="border-top py-4 mt-4">
  {% assign org = site.data.content.branding.organisation %}
  <div class="container small text-body-secondary">
    {% if org and org.name %}
      <div class="mt-2 d-flex flex-wrap gap-2 align-items-center">
        <span>Copyright &copy; {{ "now" | date: "%Y" }}:</span>
        {% if org.url %}
          <a href="{{ org.url }}" target="_blank" rel="noopener noreferrer">{{ org.name }}</a>
        {% else %}
          <span>{{ org.name }}</span>
        {% endif %}
      </div>
    {% endif %}
      <div class="mt-2 d-flex flex-wrap gap-2 align-items-center">
        <p class="text-center">Based on an original reference model from <a href="https://consulting.berthelemy.net" target="_blank">Mark Berthelemy Consulting</a></p>
        <p class="text-center"><img src="/assets/images/mb-logo-transp-300.png" style="height: 50px" alt="Mark Berthelemy Consulting logo" /></p>
      </div>
  </div>
</footer>
